* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
}

img {
   max-width: 300px
}

.content {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
}

.content h1 {
   font-size: 1.5rem;
   font-weight: 400;
}

.content p {
   margin-top: 1rem;
   font-size: 1rem;
   font-weight: 400;
}

.content a {
   padding: 1rem;
}

.content a i {
   font-size: 2rem;
   color: #333;
}

.content a i:hover {
   color: #BD954F;
}