*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #14120D 0%, rgba(24, 19, 9, 0.9) 64.03%) no-repeat;
  color: #FFF;
  --type-first: "Walter Turncoat", sans-serif;
  font-family: var(--type-first);
  font-size: 1.125rem;
}

h1, h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h1, h2, h3, h4, p {
  margin: 0
}

ul, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 635px;
  padding: 0 1rem;
  margin: 0 auto;
}