.footer {
   width: 100%;
   background: #CC9933;
   color: #fff;
}

.footer h3 {
   font-size: 1.125rem;
}

.footer p, .footer a {
   font-size: 0.8rem;
}

.footer a:hover {
   text-decoration: underline;
}

.containerFooter {
   display: grid;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
   
   max-width: 635px;
   margin: 0 auto;
}


.info, .credits {
   display: flex;
   justify-content: space-between;
}

@media (max-width: 530px) {
   .info, .credits {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
}